SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
SITE_NAME=Подари момент

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False
EMAIL_TIMEOUT=20
EMAIL_HOST_USER=example@mail.ru
EMAIL_HOST_PASSWORD=mailru-app-password
DEFAULT_FROM_EMAIL=example@mail.ru
APPLICATION_NOTIFICATION_EMAIL=example@mail.ru

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
