{% load static catalog_extras %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ site_settings.site_name|default:"Подари момент" }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{{ home_settings.seo_description|default:site_settings.footer_description }}{% endblock %}">
    <link rel="icon" type="image/x-icon" sizes="any" href="{{ site_settings.favicon_path|asset_url }}?v=2">
    <link rel="stylesheet" href="{% static 'catalog/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'catalog/index.css' %}?v=31">
    {% block extra_head %}{% endblock %}
    {% if site_settings and site_settings.metrika_code %}
        {{ site_settings.metrika_code|safe }}
    {% endif %}
</head>
<body class="catalog-page{% block body_class %}{% endblock %}">
<div class="page-shell">
    {% include "catalog/_header.html" %}
    <main id="top">
        {% block content %}{% endblock %}
    </main>
    {% include "catalog/_footer.html" %}
</div>
<script src="{% static 'catalog/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'catalog/index.js' %}?v=9"></script>
</body>
</html>
